*.log
.DS_Store*
node_modules/
src/
coverage/
.editorconfig
.vscode/
.husky/
.github/
jest.config.ts
rollup.config.mjs
rollup.types.config.mjs
local/
jest.config.ts
.eslintrc.json
badges/
.gitattributes
.gitignore
